#language-switcher {
  position: fixed;
  right: 1rem;
  z-index: 999;
  font-size: 0.9rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      height: 100%;
      display: flex;
      text-align: left;
      flex-direction: column;
      justify-content: center;

      &:not(:last-child) {
        margin: 0 0 0.5rem;
      }

      button {
        background: white;
        color: black;
        box-shadow: none;
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
      }
    }
  }
}

@media screen and (min-width: 415px) {
  #language-switcher {
    top: 1rem;
  }
}

@media screen and (max-width: 414px) {
  #language-switcher {
    bottom: 0;
    padding: 0;
  }
}
