body {
  overflow-x: hidden;
}

#rsvp-form {
  background: white;
  box-shadow: 0 -0.2rem 1rem rgba(0, 0, 0, 0.2);
  padding: 0;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;

  position: fixed;
  height: 75vh;
  left: 70vw;
  width: 70vw;
  bottom: 0;
  margin-left: -55vw;
  max-height: 80vh;

  display: flex;
  flex-grow: 1;
  flex-direction: column;

  transition: bottom 1s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  header h1 {
    padding: 0 1rem;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    z-index: 100;

    #form-close {
      background: none;
      box-shadow: none;
      color: #333;
      cursor: pointer;
      display: block;
      font-size: 3rem;
      font-weight: bold;
      line-height: 1rem;
      position: absolute;
      right: 0;
      top: -10px;

      transition: opacity 0.2s;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  form {
    min-height: 1em;
    overflow-y: scroll;
  }

  ul {
    margin: 0;
    padding: 0 1rem;
    list-style: none;
    li {
      margin: 1rem 0;
    }
  }

  &.hidden {
    bottom: -100vh;
  }
}

#form-open {
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background: rgba(60, 179, 113, 1);
  color: white;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  cursor: pointer;

  position: fixed;
  bottom: 0;
  left: 10px;

  height: 50px;

  transition: opacity 0.2s;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);

  z-index: 99;

  &:hover {
    background: rgb(84, 209, 140);
  }

  &.form-active {
    opacity: 0;
    pointer-events: none;
  }
}

.form {
  padding: 2rem;
}

label {
  margin-top: 1rem;
}

.field__note {
  font-size: 0.9rem;
  font-style: italic;
}

.field__error {
  font-size: 0.9rem;
  display: inline-block;
  color: red;
  padding: 0 0.5rem;
  font-style: italic;
}

button {
  display: block;
  float: right;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background: rgba(60, 179, 113, 1);
  color: white;
  outline: 0;
  border: 0;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(60, 179, 113, 0.3);

  &:not(:disabled) {
    transition: 0.2s background-color;
    cursor: pointer;

    &:active {
      transform: translate(0.1rem, 0.1rem);
      box-shadow: none;
    }

    &:hover {
      background: rgba(60, 179, 113, 0.7);
    }
  }

  &:disabled {
    background: rgba(60, 179, 113, 0.5);
    color: #444;
    font-style: italic;
  }
}

input {
  width: 100%;
  padding: 0.25rem 0.5rem;
}

#howMany {
  width: 50px;
}

.input-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 1rem;
}

@media screen and (max-width: 667px) {
  form {
    h1 {
      font-size: 1.3rem;

      #form-close {
        top: 0.2rem;
      }
    }
  }

  .input-group {
    grid-gap: 0.5rem;
  }

  #form-open {
    font-size: 1rem;
    padding: 0.7rem;
    line-height: 1rem;
    height: auto;
  }
}

@media screen and (max-width: 414px) {
  form {
    left: 47vw;

    ul {
      font-size: 0.7rem;

      li {
        margin-left: 0;
      }
    }

    h1 {
      font-size: 1.2rem;
      height: 2rem;

      #form-close {
        top: 0.3rem;
      }
    }

    label {
      font-size: 0.7rem;
    }

    .field__note {
      font-size: 0.7rem;
    }
  }
}
